lxml
imageio
webdataset
scipy
numpy
matplotlib
beautifulsoup4
nltk
pyphen
papermill
ray[all] @ https://s3-us-west-2.amazonaws.com/ray-wheels/latest/ray-3.0.0.dev0-cp310-cp310-manylinux2014_x86_64.whl
